<div class="container">
   
   
        <div style="text-align: center; justify-items: center; margin-top: 30px;">
            <h3>Select Weather Forecast</h3>
        </div>
    <div class="forecast-cards">
        
        <div class="forecast-card" routerLink="weather/LWX">
          <h2>District of Columbia Forecast (LWX)</h2>
          <p class="card-text">Get forecast for District of Columbia</p>
        </div>
      
        <div class="forecast-card" routerLink="weather/TOP">
          <h2>Kansas Forecast (TOP)</h2>
          <p >Get forecast for Kansas</p>
        </div>
    </div>

</div>